{% extends "entries/base.html" %}   

{% block content %}  
      <div class="col-md-8">

        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-header">
          Create an Account
          </div>
          <div class="card-body">
          <form method="POST">
            {% csrf_token %} <!--this is for security lang-->
            <table border="1">
            {{form.as_table}}
            </table>
            <br>
            <button type="submit" class="btn btn-primary">Create Account
            </button>&emsp;
            <a href="{% url 'login' %}" class="btn btn-info">Login to Existing Account
            </a>
          </form>
          </div>
        </div>

      </div>

{% endblock %}  

{% block login%}
{% endblock%}

{% block menu %}
{% endblock%}