{% extends "entries/base.html" %}   
{% load crispy_forms_tags %}

{% block content %}  
<div class="col-md-8">
  <a href="{% url 'blog-home' %}"> Back to Home </a>
    <div class="card mb-4 mt-4">
      <div class="card-header">
        Create Blog Post
      </div>
      <div class="card-body">
        <form method="POST" style="width:100%" enctype="multipart/form-data">
          {% csrf_token %} <!--this is for security lang-->
            {{form|crispy}}
          <button type="submit" class="btn btn-light" style="background-color:#FF8362">Post Entry</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}

{% block login %}<br>
      <div class="card my-4">
          <h5 class="card-header text-center">Logged in Information</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
                <li>
                    <p> <strong>Username:</strong> {{user.username}} </p>
                </li>
                <li>
                    <p> <strong>Email:</strong> {{user.email}}</p>
                </li>
            </ul>    
          </div>
        </div>
{% endblock %}  