{% extends "entries/base.html" %}   

{% block content %}  

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <a href="{% url 'blog-home' %}"> Back to Home </a>
        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-body">
            <h2 class="card-title">{{entry.entry_title}}</h2>
            <p class="card-text">{{object.entry_text|linebreaks}}</p>
            {% if entry.image %}
              <img src="{{ entry.image.url }}" class="image_responsive" style="min-width:50px;max-width:500px">
            {% endif %}
            </div>
          <div class="card-footer text-muted">
            Posted on {{object.entry_date}} by
            <span class= "text-info mr-2"><a href="{% url 'user_profile' pk=entry.entry_author.pk %}">{{entry.entry_author}}</a></span>
            {% if entry.comments.all.count == 0 %}
              ~ &nbsp;&nbsp;No comments
            {% elif entry.comments.all.count == 1 %}
              ~ &nbsp;&nbsp;{{entry.comments.all.count}} comment
            {% else %}
              ~ &nbsp;&nbsp;{{entry.comments.all.count}} comments
            {% endif %}
          </div>
          {% if entry.entry_author.username == user.username %}
            <a style="background-color:#6D748C" class="btn btn-light" href="{% url 'delete-entry' pk=entry.pk %}">Delete Post</a>
          {% endif %}
      </div> 
    </div>
    <br>

{% endblock %} 

{% block login %}<br>
      <div class="card my-4">
          <h5 class="card-header text-center">Logged in Information</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
                <li>
                    <p> <strong>Username:</strong> {{user.username}} </p>
                </li>
                <li>
                    <p> <strong>Email:</strong> {{user.email}}</p>
                </li>
            </ul>    
          </div>
        </div>
{% endblock %}  

{% block comment %}
<center>
<div class="card my-0" style="width:86.5%;">
  <h4 class="card-header text-center">Comments Section</h4>
    <div class="card-body">

      {% for comment in entry.comments.all %}
        <div class="card mb-1 mt-0">
          <div class="card-body">
            <p class="card-text">{{comment.text|linebreaks}}</p>
          </div>
          <div class="card-footer text-muted">
            Commented on {{comment.comment_date}} by
            <span class= "text-info mr-2"><a href="{% url 'user_profile' pk=comment.comment_author.pk %}">{{comment.comment_author}}</a></span>
            {% if comment.comment_author.username == user.username %}
              <a style="background-color:#8a8fa3" class="btn btn-light btn-sm" href="{% url 'delete_comment' pkcom=comment.pk pkent=entry.pk %}">Delete Comment</a>
            {% endif %}
          </div>
        </div>
        {% empty %}
          <br>
            <p>No comments here yet :(</p>
      {% endfor %}

    </div>
    {% if user.username %}
      <a style="background-color: #deada1" class="btn btn-light btn" href="{% url 'add_comment_to_post' pk=entry.pk %}">Add a comment</a>
    {% else %}
      <a class="btn btn-success btn" href="{% url 'login' %}">Log in to add a comment</a>
    {% endif %}
</div>
</center>
    <br>
{% endblock %}


